*{
    background-color: #ccc;  
    font-family: sans-serif;
}
.form {
    width: 400px;
    margin: auto;
    padding-top: 40px;
}
.button{
    background-color: black;
    width: 30%;    
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;

}






